---
import "@styles/global.css";
import FontLoader from "@components/FontLoader.astro";

const { meta = {} } = Astro.props;
const language = 'en';
---

<!DOCTYPE html>
<html lang={language} dir={'ltr'}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="keywords" content={meta.keywords} />
    <FontLoader />
  </head>

  <body>
    <slot />
  </body>
</html>
