@font-face {
  font-family: 'Maax';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Maax.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Avega Italic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Avega-Italic.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Maax', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.avega {
  font-family: 'Avega Italic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.avega {
    em {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
    }
}